.search-input-container{
    width: 90%;
    margin: 0 auto;
    position: relative;
    .search-input{
        @include input;
    }
    .search-icon{
        position: absolute;
        top: 50%;
        left: 1rem;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        color: $darkGray;
        font-size: 2rem;
    }
}