html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: $font;
}
body{
    overflow-x: hidden;
}
@for $i from 1 through 4 {
    h#{$i}{
        font-size: nth($fontSize, $i);
        margin: 0;
        color: $raisinBlack;
    }
    .dark-mode h#{$i}{
        color: $white;
    }
}
.dark-mode p, .dark-mode svg{
    color: $lightGray;
    fill: $lightGray;
}
.dark-mode #search-input, .dark-mode #chat-input{
    @if search-input{
        background-color: $lightGray;
        color: $raisinBlack;
    }
    background-color: #0a0f1c;
    border: 2px solid $gray;
    color: $gray;
    &:focus{
        outline: none;
        border: 2px solid $primary;
    }
}
.dark-mode .user-message{
    background-color: #0f1729;
}
.dark-mode,
.dark-mode .navbar-container{
    background-color: #0a0f1c;
}
.dark-mode #chat-bg{
    @include chatBg($light-theme: false);
}
.dark-mode .hamburger-menu{
    background-color: #0f1729;
    border-color: $darkGray;
} 
img{
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
p{
    font-size: 1.4rem;
    color: $raisinBlack;
}
li{
    font-size: 1.4rem;
    color: $raisinBlack;
}
a{
    text-decoration: none;
    color: $raisinBlack;
    font-size: 1.4rem;
}
label{
    font-size: 1.4rem;
    color: $raisinBlack;
}
ul{
    list-style: none;
}
