html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
    font-family: $font;
}
*, *:before, *:after{
    box-sizing: inherit;
}
body{
    background-color: $white;
    overflow-x: hidden;
}
h1,h2,h3,h4{
    margin: 0;
}
img{
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
h1{
    font-size: 2.2rem;
    color: $raisinBlack;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.8rem;
}
h4{
    font-size: 1.6rem;
}
p{
    font-size: 1.4rem;
    color: $raisinBlack;
}
li{
    font-size: 1.4rem;
    color: $raisinBlack;
}
a{
    text-decoration: none;
    color: $raisinBlack;
    font-size: 1.4rem;
}
label{
    font-size: 1.4rem;
    color: $raisinBlack;
}
ul{
    list-style: none;
}
