@mixin mobile {
    @media (min-width: $mobile) and (max-width: $tablet) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: $tablet) and (max-width: $desktop){
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop) {
        @content;
    }
}

@mixin btn {
    border: 2.5px solid $primary;
    color: $white;
    font-weight: $semiBold;
    font-size: 1.6rem;
    padding: calc($spacing / 4) calc($spacing / 2);
    background-color: $primary;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    @include transition(all);
    &:hover{
        background-color: transparent;
        cursor: pointer;
        color: $primary;
        svg circle{
            stroke: $primary;
        }
    }
}

@mixin logout {
    border: 2.5px solid $red;
    color: $white;
    font-weight: $semiBold;
    font-size: 1.6rem;
    padding: calc($spacing / 4) calc($spacing / 2);
    background-color: $red;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    @include transition(all);
    &:hover{
        background-color: transparent;
        cursor: pointer;
        color: $red;
    }
}

@mixin shadow {
    box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.4);
}

@mixin spinner {
    .spinner {
        width: 2.25rem;
        transform-origin: center;
        animation: rotate4 2s linear infinite;
        -webkit-animation: rotate4 2s linear infinite;
    }
       
       .spinner-circle {
        fill: none;
        stroke: $white;
        stroke-width: 5;
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
        stroke-linecap: round;
        animation: dash4 1.5s ease-in-out infinite;
        -webkit-animation: dash4 1.5s ease-in-out infinite;
    }
       
       @keyframes rotate4 {
        100% {
         transform: rotate(360deg);
        }
       }
       
       @keyframes dash4 {
        0% {
         stroke-dasharray: 1, 200;
         stroke-dashoffset: 0;
        }
       
        50% {
         stroke-dasharray: 90, 200;
         stroke-dashoffset: -35px;
        }
       
        100% {
         stroke-dashoffset: -125px;
        }
       }
       
}

@mixin secondary-btn {
    border: 2px solid $primary;
    color: $primary;
    font-weight: $semiBold;
    padding:$spacing / 4$spacing / 2;
    background-color: transparent;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    @include transition(all);
    &:hover{
        background-color: $primary;
        cursor: pointer;
        color: $white;
    }
}

@mixin transition($value) {
    transition: $value 0.1s ease-in;
    -webkit-transition: $value 0.1s ease-in;
    -moz-transition: $value 0.1s ease-in;
    -ms-transition: $value 0.1s ease-in;
    -o-transition: $value 0.1s ease-in;
}