.hamburger-menu-container{
    position: relative;
}
.hamburger-menu{
    position: absolute;
    border: 2px solid $borderGray;
    padding: 1rem;
    z-index: 300;
    background-color: $white;
    top: 3rem;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 2.25rem;
    width: fit-content;
    height: fit-content;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    @include shadow;
    .hamburger-menu-item{
        display: flex;
        align-items: center;
        gap: 1rem;
        width: 100%;
        .hamburger-menu-icon{
            font-size: 1.75rem;
        }
    }
    .logout-button{
        @include logout;
    }
}