.info-header-container{
    display: flex;
    gap: 2rem;
    align-items: center;
    .profile-img-container{
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border: 2px solid $primary;
        width: 3.5rem;
        height: 3.5rem;
    }
}
.hamburger-menu-icon{
    font-size: 2.5rem;
    cursor: pointer;
}