.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: $spacing / 2;
    .input-container{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .label{
            font-weight: $semiBold;
        }
        .input{
            height: 4.5rem;
            border: 2px solid $primary;
            border-radius: 0.5rem;
            -webkit-border-radius: 0.5rem;
            -moz-border-radius: 0.5rem;
            -ms-border-radius: 0.5rem;
            -o-border-radius: 0.5rem;
            font-size: 1.4rem;
            padding: 0.5rem;
            &:focus{
                outline: none;
            }
        }
    }
    .button{
        @include btn;
        @include spinner;
    }
}
.error-login-container{
    background-color: $red;
    padding: 2rem;
    width: 100%;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    p{
        font-weight: $semiBold;
        text-align: center;
        color: $white;
    }
}