.login-container{
    padding: 3.5rem;
    display: flex;
    flex-direction: column;
    gap: calc($spacing / 2);
    align-items: center;
    justify-content: center;
    border: 2px solid $borderGray;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    background-color: $white;
    width: 95%;
    margin: 50% auto;
    @include shadow;
}