.settings-container{

    .settings-user-img-container{
        border: 2px solid $primary;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        width: 10rem;
        height: 10rem;
        overflow: hidden;
        margin: 0 auto;
    }
    .settings-user-name{
        text-align: center;
        margin-top: 1rem;
    }
}